<script
  type="application/json"
  data-section-type="custom-liquid"
  data-section-id="{{ section.id }}"
>
</script>

<section class="home-module custom-liquid" data-custom-liquid>
  <div class="custom-liquid__wrapper">
      {{ section.settings.custom_liquid }}
  </div>
</section>

{% schema %}
{
  "name": "Custom liquid",
  "class": "shopify-section--custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid"
    }
  ],
  "presets": [
    {
      "name": "Custom liquid",
      "category": "Content"
    }
  ],
  "enabled_on": {
    "groups": [
      "*"
    ],
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
}

{% endschema %}